.task{
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
  
}

.task-input{
  display: flex;
  align-items: center;
  justify-content: center;

}

.task-input p {
  width: 200px;
  text-transform: capitalize;

  font-size: 1rem;
  text-align: start;
  padding-left: 8px;
}

.task-input input:checked ~ p  {
  color: rgb(0, 151, 238);
}

.task-button {
  cursor: pointer;
}

.task-button:disabled {
  cursor: not-allowed;
}

.task-button img {
  width: 20px;
}